:root {
    font-size: 16px;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
    --BGCOLOR: #435c4d;
    --APPCOLOR: #4b7253;
    --ACCENT: #23a5b6;
    --PURSECOLOR: #5c3d17;
    --SHOPCOLOR: #2a1d70;
    --SHOPBGCOLOR: #1b105a;
    --MAINPANELCOLOR: #1d7061;
    --SHOPITEMCOLOR: #bad4d3;
    --STATITEMCOLOR: #4b7253;
    --STATSPANELCOLOR: #1d7061;
}

body, html {
    background-color: var(--BGCOLOR);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#contentPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    width: 80%;
    height: 90%;
    flex-wrap: wrap;
    background-color: var(--APPCOLOR);
    align-content: center;
    border-radius: 2rem;
    transition: left 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}
#contentPanel > div {
    border-radius: 2rem;
}
#contentPanel > div > span {
    display: inline-block;
    color: white;
    font-size: 3rem;
    position: relative;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}
#contentPanel > div > div {
    position: relative;
    top: 4rem;
    display:flex;
    flex-direction: row;
}

.grid-icon {
    color:white;
    display: inline;
}
.icon {
    position: relative;
    top: 0.1em;
    width: 1em;
    height: auto;
    fill: white;
    display: inline-block;
    line-height: 1;
}

.purse {
    background-color: var(--PURSECOLOR);
    padding-left: 3rem;
    padding-right: 3rem;
    color:white;
    font-size: 4rem;
}
.purse > div {
    height: calc(100% - 8rem);
    width: auto;
    flex-direction: column;
}

.mainpanel {
    background-color: var(--MAINPANELCOLOR);
}
.mainpanel > div {
    height: calc(100% - 12rem);
    display: block;
    padding: 2rem 2.5rem 2rem 2.5rem;
}

.attackButton {
    position: absolute;
    left:50%;
    bottom: 2rem;
    transform:translateX(-50%);
    width:80%;
    height: 4rem;
} .attackButton:hover{transform: translateX(-50%) scale(1.1);}

button {
    font-size: 2rem;
    padding: 15px 30px 15px 30px;
    border-radius: 2rem;
    border-style: none;
    box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button:focus {
    outline-style: none;
    border-color: transparent;
}

@media only screen and (max-width: 768px){
    .mobilecompatpanel {
        grid-column: 1 / span 2;
    }
}

.attackoverlay-in{
    animation: scaledown 0.3s ease forwards;
}
.attackoverlay-in > div {
    position: absolute;
    top: -20px;
    left: -20px;
    height: 0%;
    width: calc(100% + 40px);
    background-color: var(--MAINPANELCOLOR);
    animation: overlay-in 0.3s ease forwards;
}

@keyframes scaledown{
    to{
        transform: translateX(-50%) scale(0) skewY(45deg);
    }
}
@keyframes overlay-in {
    from {
        height:0%;
    }
    to {
        height:calc(100% + 40px);
    }
}

.attackoverlay-out > div {
    position: absolute;
    bottom: -20px;
    left: -20px;
    height: calc(100% + 40px);
    width: calc(100% + 40px);
    background-color: var(--MAINPANELCOLOR);
    animation: overlay-out 0.3s ease forwards;
}

@keyframes overlay-out {
    from {
        height:calc(100% + 40px);
    }
    to {
        height:0%;
    }
}

.hurtAnimation {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    animation: hurt 2s ease;
    pointer-events: none;
}

@keyframes hurt {
    0% {
        -webkit-box-shadow: inset 0px 0px 0px 0px #FF0000; 
        box-shadow: inset 0px 0px 0px 0px #FF0000;
    }
    2% {
        -webkit-box-shadow: inset 0px 0px 100px 2vh #FF0000; 
        box-shadow: inset 0px 0px 100px 2vh #FF0000;
    }
    100% {
        -webkit-box-shadow: inset 0px 0px 0px 0px #FF0000; 
        box-shadow: inset 0px 0px 0px 0px #FF0000;
    }
}

.enemySprite {
    width: 1em;
    height: 1em;
}

.enemyDiv {
    position: absolute;
    display: block;
    background-color: var(--ACCENT);
    font-size: 3rem;
    border-radius: 1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}