#stats {
    position: absolute;
    top:50%;
    right:0;
    transform: translate(0, -50%);
    width: 3rem;
    height: 80%;
    transition: width 0.3s ease;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: var(--STATSPANELCOLOR);
    display:flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 1.5rem 1rem 1.5rem 1rem;
    box-shadow: 10px 15px 12px 0px rgba(0, 0, 0, 0.5);
}

#stats:hover {
    width: 30%;
}

#stats:hover ~ #contentPanel {
    left: 20%;
}

#stats > .statitem {
    opacity: 0;
}

#stats:hover > .statitem {
    opacity: 1;
}

.statitem{
    flex: auto;
    position: relative;
    background-color: var(--STATITEMCOLOR);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 1rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 100%;
    margin-bottom: 1rem;
}

.statitem:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.statitem:active {
    transform: scale(1);
}

.statitem-title{
    font-size: 2rem;
}
.statitem-desc {
    display:block;
}
.statitem-value {
    font-size: 2rem;
    position: absolute;
    right:1rem;
    top:50%;
    transform: translateY(-50%);
}
